Source: simple-display-daemon
Section: admin
Priority: optional
Maintainer: unknown <unknown@unknown>
Build-Depends: debhelper (>= 9), dh-golang, golang-dlib-dev,
 dde-api-dev, golang-github-burntsushi-xgb-dev,
 golang-github-burntsushi-xgbutil-dev,
 golang-github-burntsushi-xgbutil-dev,
 libgtk-3-dev, libx11-dev, golang
Standards-Version: 3.9.8
Homepage: https://github.com/jouyouyun/simple-display-daemon.git
#Vcs-Git: https://anonscm.debian.org/collab-maint/simple-display-daemon.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/simple-display-daemon.git

Package: simple-display-daemon
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},
 openbox, x11-xserver-utils
Description: A simple display daemon, no handle output changed
 A simple display daemon, no handle output changed
